* {
    padding: 0;
    margin: 0;
}

.container {
    width: 400px;

}

input {
    width: 398px;
    height: 30px;
    background-color: black;
    color: white;
    border: black;
    text-align: right;
    font-size: 20px;
    margin: 1px;
}

.wrapper1, .wrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper1 button {
    flex: 24%;
    padding: 5px 10px;
    margin: 1px;
    font-size: 20px;
}

.wrapper2 button {
    flex: 49%;
    padding: 5px 10px;
    margin: 1px;
    font-size: 20px;
}